@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
:root {
  ---color-gray-dark: #343838;
  ---color-gray-light: #9d9c9c;
  ---bg-gray-light: #9fa99f;
  ---border-gray-lighter: #e3ede3;

  --font-light: #e1ebc9;
  --font-dark: #090909;

  --red-complementary: #670000;
  --red-light-complementary: #d34747;
  --green-complementary: #005200;
  --green-complementary-light: #00a900;
  --blue-complementary: #001e21;
  --brown-complementary: #003e3e;
  --light-brown-complementary: #007f7f;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(---color-gray-light);
  color: var(--font-dark);
  padding: 2rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}
.logo {
  height: 5.25rem;
}
.login {
  display: flex;
}
.login__input {
  border: none;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  margin-left: 1rem;
  border-radius: 12rem;
  color: inherit;
  border: 1px solid var(---bg-gray-light);
  transition: all 0.2s ease;
}
.login__input:focus {
  outline: none;
  border: 1px solid var(---color-gray-light);
}
.login__input::placeholder {
  color: var(---color-gray-dark);
}
.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: var(--light-brown-complementary);
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  opacity: 0;
  transition: all 1s;
}
/* balance */
.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.balance__date {
  font-size: 1.4rem;
  color: var(---color-gray-dark);
}
.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}
/* movments */
.movements {
  grid-row: 2 / span 3;
  background-color: var(--font-light);
  border-radius: 1rem;
  overflow: scroll;
}
.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(---border-gray-lighter);
}
.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--font-light);
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}
.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(---color-gray-light);
}
.movements__type--deposit {
  background-image: linear-gradient(
    to top left,
    var(--green-complementary),
    var(--green-complementary-light)
  );
}
.movements__type--withdrawal {
  background-image: linear-gradient(
    to top left,
    var(--red-complementary),
    var(--red-light-complementary)
  );
}
.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}
/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}
.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}
.summary__value--in,
.summary__value--interest {
  color: var(--green-complementary-light);
}

.summary__value--out {
  color: var(--red-light-complementary);
}
.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.operation {
  /* grid-column: 3 / span 5; */
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: var(---bg-gray-light);
}
.operation--transfer {
  background-image: linear-gradient(
    to top left,
    var(--brown-complementary),
    var(--light-brown-complementary)
  );
}

.operation--loan {
  background-image: linear-gradient(
    to top left,
    var(--green-complementary),
    var(--green-complementary-light)
  );
}

.operation--close {
  background-image: linear-gradient(
    to top left,
    var(--red-complementary),
    var(--red-light-complementary)
  );
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(---color-gray-dark);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}
/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: var(--font-light);
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
